<!DOCTYPE html>
<html>

    {{ partial "head.html" . }}

    <body>

        {{ partial "header.html" . }}

        <div class="container is-fluid" style="padding-left: 10%; padding-right: 10%">

            {{ partial "breadcrumbs.html" . }}

            <div class="content mt-6">
                <h1 class="is-size-1">
                    Apprenticeship Funding
                </h1>
                <p>
                  Work-based learning with off-the-job training and development.
                </p>
                <a onclick="tagToggle()"><span id="indicator">&#9654;</span>&nbsp;More detail</a>
                <div id="quicktags" class="mt-5" style="display: none">
                    <blockquote class="has-background-info-light">
                      <p>
                        Each apprenticeship <strong>standard</strong> constitutes a specification for training in a particular industry and role, which should help prepare learners for employment in that area.
                      </p>
                      <p>
                        These standards are assigned <strong>funding caps</strong>, which represents the maximum amount of money that the ESFA will release via funding.
                      </p>
                      <p>
                        Training providers are able to agree an overall cost (the <strong>Total Negotiated Price</strong> or TNP) with employers. The TNP can exceed the funding cap, but the employer must pay this excess themselves.
                      </p>
                      <p>
                        Apprenticeship funding is paid through a combination of levy payments, government contributions, and direct employer payments.
                      </p>
                      <p>
                        For a worked example of the different payment mechanisms, see the guidance article <a href="/guidance/how-does-apprenticeship-funding-work">How Does Apprenticeship Funding Work?</a>
                      </p>
                    </blockquote>
                </div>
            </div>

            <div class="card has-background-warning">
                <div class="card-content">
            <span><i class="fas fa-thumbtack"></i>&nbsp;&nbsp;&nbsp;Pinned resources</span>
            <div class="columns my-5">
                <div class="column">
                    <div class="card has-background-light">
                        <div class="card-content">
                          <div class="content">
                            <h1><a style="color: inherit" href="https://www.gov.uk/guidance/apprenticeship-funding-rules">Funding Rules</a></h1>
                          </div>
                        </div>
                      </div>
                </div>
                
                <div class="column">
                    <div class="card has-background-light">
                        <div class="card-content">
                          <div class="content">
                            <h1>
                                <a style="color: inherit" href="https://guidance.submit-learner-data.service.gov.uk/">ILR Returns Guidance</a>
                            </h1>
                          </div>
                        </div>
                      </div>
                </div>

                <div class="column">
                    <div class="card has-background-light">
                        <div class="card-content">
                          <div class="content">
                            <h1>
                                <a style="color: inherit" href="https://www.gov.uk/government/publications/apprenticeships-subcontracting">Subcontracting Controls</a>
                            </h1>
                          </div>
                        </div>
                      </div>
                </div>
            </div>
            </div>
            </div>
            
            <div class="py-6">
                <label class="has-text-black">Search all resources tagged with <strong>Apprenticeships</strong></label>
            
                <input id="searchbox" class="input is-size-4" style="border-radius: 0px; border: 2px solid black; margin-top: 10px" type="text" placeholder="" onkeyup="search()">
            </div>

            <div class="columns is-multiline m-0">
        
                {{ range .Site.Pages }}
                {{ if in .Params.tags "apprenticeships" }}
                <div class="column item is-half">
                    <article class="tile is-child box" style="background-color: #f8f8f8; border-bottom: 3px solid #005ea5; border-radius: 0px;">
                        
                        {{ if (isset .Params "link") }}
                        <p class="is-size-4"><strong><a class="title-link" href="{{.Params.link}}">{{ .Title }}</a></strong></p>
                        {{ else }}
                        <p class="is-size-4"><strong><a class="title-link" href="{{.Permalink}}">{{ .Title }}</a></strong></p>
                        {{ end }}
                        
                        <p class="item-abstract">{{ .Description | truncate 200 }}</p>
                        
                        <p style="margin-top: 5px"><a href="{{.Permalink}}">More information</a></p>
        
                        {{ if (isset .Params "tags") }}
                        <hr>
                        <div class="item-taglist">
                            {{ range .Params.tags }}
                            <span><a class="tag" href="/tags/{{ . | urlize }}">{{ . }}</a></span>&nbsp;
                            {{ end }}
                        </div>
                        {{ else }}
                        {{ end }}
        
                        <p class="searchstring" style="display: none">
        
                            {{ .Title }}
        
                            {{ with .Description }}
                            {{ . }}
                            {{ end }}
        
                            {{ with .Params.tags }}
                            {{ . }}
                            {{ end }}
                            
                        </p>
        
                      </article>
                </div>
                {{ end }}
                {{ end }}
    
            </div>
            
        </div><!-- End of Container -->
        
        {{ partial "footer.html" . }}
    </body>
</html>
