<!DOCTYPE html>
<html>

    {{ partial "head.html" . }}

    <body>

        {{ partial "header.html" . }}

        {{ partial  "breadcrumbs.html" . }}

        <div class="columns is-mobile m-0">
            <div class="column is-10 is-offset-1 content">

                <h1 class="title is-1"><strong>{{ .Title }}</strong>&nbsp;<span class="is-size-5" style="background-color: #d4351c; color: #FFFFFF; padding-left: 5px; padding-right: 5px; vertical-align: baseline; position: relative; top: -1em;">in development</span></h1>

                {{ with .Params.disclaimer }}
                <div class="notification is-warning">
                    This tool will help you to understand the funding available for different learners, but its guidance should not be viewed as a guarantee of government funding.<br><br>You should always refer to the published regulations for the relevant funding agency if you're unsure.
                </div>
                {{ end }}

                <p class="is-size-3 mb-2">{{ .Params.question }}</p>
                
                <div class="py-3">{{ .Content }}</div>

                {{ with .Params.answers }}

                <select class="input mb-3" id="answerlist">
                <option value="">Select from list</option>
                {{ range . }}
                <option value="{{ .Link }}">{{ .Name }}</option>
                {{ end }}
                </select>     
                {{ end }}

                <div class="buttons has-addons mt-3">
                    <button class="button" style="min-width: 100px; border: 0px; background-color: #f3f2f1; border-radius: 0px; -webkit-box-shadow: 0 2px 0 #929191; box-shadow: 0 2px 0 #929191" onclick="backtoparent()">Back</button>
                    <button class="button" style="min-width: 100px; border: 0px; background-color: #00703c; color: #FFFFFF; border-radius: 0px; -webkit-box-shadow: 0 2px 0 #002d18; box-shadow: 0 2px 0 #002d18" id="nextbutton" onclick="progress()" disabled>Next</button>
                </div>
                
            </div>
        </div>

        

        <script>
            document.getElementById('answerlist').addEventListener("change",function(){
                o = document.getElementById('answerlist').value
                b = document.getElementById("nextbutton")

                if ( o == "" ) {
                    b.disabled = true
                }
                else {
                    b.disabled = false
                }
            });

            function backtoparent() {
                window.open({{ .Parent.Permalink }},'_self');
            }
            function progress() {
                x = document.getElementById('answerlist').value;
                window.open(x,'_self');
            }
            
        </script>

        {{ partial "footer.html" . }}

    </body>
</html>