* {
    overflow-wrap: break-word;
    word-wrap: break-word;
}

h1,h2,h3,h4,h5,h6 {
    color: #0b0c0c;
}

.column > p, .content h1, .content h2, .content h3, .content h4, .content h5, .content h6 {
    color: #0b0c0c;
}

/*
a:link {
    color: #1d70b8;
    text-decoration: underline;
}

a:hover {
    color: #003078
}

a:visited {
    color: #4c2c92;
}

a:active {
    color: #0b0c0c;
}
*/


.footer-link:link {
    color: #ffffff;
    text-decoration: none;
}

.footer-link:visited {
    color: #ffffff;
    text-decoration: none;
}

.footer-link:hover {
    color: #ffffff;
    text-decoration: none;
}

.tag:link {
    color: #0b0c0c;
    text-decoration: none;
}

.tag:hover {
    color: #0b0c0c;
    text-decoration: none!important;
    background-color: #ffdd00;
}

.tag:visited {
    color: #0b0c0c;
}



sup {
    vertical-align: baseline;
    position: relative;
    top: -0.4em;
  }
  
  sub {
    vertical-align: baseline;
    position: relative;
    top: 0.4em; 
  }


blockquote {
    background-color:#fff!important;
    box-shadow:0 .5em 1em -.125em rgba(10,10,10,.1),0 0 0 1px rgba(10,10,10,.02);
    color:#4a4a4a;
    max-width:100%;
    position:relative;
    border-left: 7px solid #FFC500!important;
    margin-bottom: 25px!important;
}

strong {
    color: inherit;
}

.content p {
    line-height: 2rem;
    font-size: 1.1rem;
    overflow-wrap: break-word;
}


.input:focus, .button:focus {
    outline: 5px solid #ffdd00
}

.code {
    padding: 2px 4px;
    font-size: 90%;
    color: #c7254e;
    white-space: nowrap;
    background-color: #f9f2f4;
    border-radius: 0;
    font-family: Menlo,Monaco,Consolas,courier new,monospace;
}