<!DOCTYPE html>
<html>

    {{ partial "head.html" . }}

    <body>
        {{ partial "header.html" . }}

        <section style="background-color: #0b0c0c" class="section p-0 pb-2">  
            <div class="container has-text-white">
                <a style="color: inherit; text-decoration: none;" href="/">Home</a> > <strong>{{ .Title }}</strong>
            </div>
        </section>
    
        <section style="background-color: #f3f2f1; margin-bottom: 0px" class="section content">
            <div class="columns">
                
                <div class="column is-8 is-offset-2">
                    
                    <div class="item-taglist">
                        {{ range .Params.tags }}
                        <span><a class="tag" href="/tags/{{ . | urlize }}">{{ . }}</a></span>&nbsp;
                        {{ end }}
                    </div>

                    <h1 class="title is-1">
                        {{ .Title }}
                    </h1>
                    <h2 class="subtitle is-5">
                        <a href="{{ .Params.link }}">{{ .Params.link }}</a>
                    </h2>

                    <button class="button is-danger">Report Broken Link</button>

                    {{ .Content }}

                </div>
            
            </div>
        </section>


        {{ partial "footer.html" . }}

        

    </body>
</html>
