<!DOCTYPE html>
<html>

    {{ partial "head.html" . }}

    <body>

        {{ partial "header.html" . }}

        <div class="container is-fluid" style="padding-left: 10%; padding-right: 10%">

            <div class="nav navbar-nav my-5">
                {{ template "breadcrumbnav" (dict "p1" . "p2" .) }}
            </div>
            {{ define "breadcrumbnav" }}
            {{ if .p1.Parent }}
                {{ template "breadcrumbnav" (dict "p1" .p1.Parent "p2" .p2 )  }}
            {{ else if not .p1.IsHome }}
                {{ template "breadcrumbnav" (dict "p1" .p1.Site.Home "p2" .p2 )  }}
            {{ end }}
            <span {{ if eq .p1 .p2 }} style="color: #00703c" class="has-text-weight-bold"{{ end }}>
                <a {{ if eq .p1 .p2 }} style="color: #00703c; text-decoration: none;"{{ else }}style="color: #000000; text-decoration: none;"{{ end }} href="{{ .p1.Permalink }}">{{ if isset .p1.Params "subtitle" }}{{ .p1.Params.subtitle }}{{ else }}{{ .p1.Title }}{{ end }}</a>{{ if ne .p1 .p2 }} / {{ end }}
            </span>
            {{ end }}

            <div class="content mt-6">
                <h1 class="is-size-1">
                    16-19 Programme Funding
                </h1>
                <p>
                    Funding for those aged 16-18 when they begin their studies, or 19-24 with an EHCP.
                </p>
            </div>

            <div class="card has-background-warning">
                <div class="card-content">
            <span><i class="fas fa-thumbtack"></i>&nbsp;&nbsp;&nbsp;Pinned resources</span>
            <div class="columns my-5">
                <div class="column">
                    <div class="card has-background-light">
                        <div class="card-content">
                          <div class="content">
                            <h1><a style="color: inherit" href="https://www.gov.uk/government/publications/advice-funding-regulations-for-post-16-provision">Funding Rules</a></h1>
                          </div>
                        </div>
                      </div>
                </div>
                <div class="column">
                    <div class="card has-background-light">
                        <div class="card-content">
                          <div class="content">
                            <h1>
                                <a style="color: inherit" href="https://www.gov.uk/government/publications/funding-rates-and-formula">Rates and Formulas</a>
                            </h1>
                          </div>
                        </div>
                      </div>
                </div>
                <div class="column">
                    <div class="card has-background-light">
                        <div class="card-content">
                          <div class="content">
                            <h1>
                                <a style="color: inherit" href="https://www.gov.uk/government/publications/advice-individualised-learner-record-ilr-returns">ILR Returns Guidance</a>
                            </h1>
                          </div>
                        </div>
                      </div>
                </div>

                <div class="column">
                    <div class="card has-background-light">
                        <div class="card-content">
                          <div class="content">
                            <h1>
                                <a style="color: inherit" href="https://www.gov.uk/government/publications/funding-guidance-for-young-people-sub-contracting-controls">Subcontracting Controls</a>
                            </h1>
                          </div>
                        </div>
                      </div>
                </div>
            </div>
            </div>
            </div>
            
            <div class="py-6">
                <label class="has-text-black">Search all resources tagged with <strong>16-19 funding</strong></label>
            
                <input id="searchbox" class="input is-size-4" style="border-radius: 0px; border: 2px solid black; margin-top: 10px" type="text" placeholder="" onkeyup="search()">
            </div>

            <div class="columns is-multiline m-0">
        
                {{ range .Site.Pages }}
                {{ if in .Params.tags "16-19 funding" }}
                <div class="column item is-half">
                    <article class="tile is-child box" style="background-color: #f8f8f8; border-bottom: 3px solid #005ea5; border-radius: 0px;">
                        
                        {{ if (isset .Params "link") }}
                        <p class="is-size-4"><strong><a class="title-link" href="{{.Params.link}}">{{ .Title }}</a></strong></p>
                        {{ else }}
                        <p class="is-size-4"><strong><a class="title-link" href="{{.Permalink}}">{{ .Title }}</a></strong></p>
                        {{ end }}
                        
                        <p class="item-abstract">{{ .Description | truncate 200 }}</p>
                        
                        <p style="margin-top: 5px"><a href="{{.Permalink}}">More information</a></p>
        
                        {{ if (isset .Params "tags") }}
                        <hr>
                        <div class="item-taglist">
                            {{ range .Params.tags }}
                            <span><a class="tag" href="/tags/{{ . | urlize }}">{{ . }}</a></span>&nbsp;
                            {{ end }}
                        </div>
                        {{ else }}
                        {{ end }}
        
                        <p class="searchstring" style="display: none">
        
                            {{ .Title }}
        
                            {{ with .Description }}
                            {{ . }}
                            {{ end }}
        
                            {{ with .Params.tags }}
                            {{ . }}
                            {{ end }}
                            
                        </p>
        
                      </article>
                </div>
                {{ end }}
                {{ end }}
    
            </div>
            
        </div><!-- End of Container -->
        
        {{ partial "footer.html" . }}
    </body>
</html>
