<section class="hero">
    <div class="hero-body" style="background-color: #284B63;">
        <div class="container">
      <p class="title has-text-white">
        Education Funding UK
      </p>
      <p class="subtitle has-text-white">
        Online resources to assist education and training providers.
      </p>
    </div>
    </div>
  </section>

<nav class="navbar" style="background-color: #D9D9D9" role="navigation" aria-label="main navigation">
    <div class="container">
        <div class="navbar-brand">
            <a role="button" class="navbar-burger" aria-label="menu" aria-expanded="false" data-target="navbarBasicExample">
                <span aria-hidden="true"></span>
                <span aria-hidden="true"></span>
                <span aria-hidden="true"></span>
            </a>
        </div>

        <div id="navbarBasicExample" class="navbar-menu">
            <div class="navbar-start">
                <a href="/" class="navbar-item">
                    Home
                </a>

                <a href="/funding-assessment/" class="navbar-item">
                    Funding Assessment Tool
                </a>

                <a href="/blog/" class="navbar-item">
                    Blog
                </a>

                <a href="/guidance/" class="navbar-item">
                    Guidance
                </a>

                <div class="navbar-item has-dropdown is-hoverable">
                    <a class="navbar-link">
                        More
                    </a>

                    <div class="navbar-dropdown">
                        <a href="/site/about/" class="navbar-item">
                            About
                        </a>

                        <a href="/site/contact/" class="navbar-item">
                            Contact
                        </a>
                        <hr class="navbar-divider">
                        <a class="navbar-item">
                            Report an issue
                        </a>
                    </div>
                </div>
            </div>
        </div>
    </div>
</nav>