<div class="columns is-mobile p-0 m-0 mt-5">
    
    <div class="column is-10 is-offset-1 p-0">
        <div class="columns">
            <div class="column is-half">
                <h1 class="title p-0 m-0" style="color: #000000">
                    Education Funding UK
                </h1>
                <p class="subtitle is-size-6 p-0 m-0 mt-1">
                    Online resources to assist education and training providers.
                </p>
            </div>
            <div class="column is-half has-text-right">
                <a style="color: #000000; text-decoration: none;" href="/">Home</a> | 
                <a style="color: #000000; text-decoration: none;" href="/funding-assessment/">Funding Assessment</a> | 
                <a style="color: #000000; text-decoration: none;" href="/blog/">Blog</a> | 
                <a style="color: #000000; text-decoration: none;" href="/guidance/">Guidance</a>
            </div>
        </div>
        
    </div>
    
</div>



<div class="columns is-mobile m-0 p-0 pb-3">
    <div class="column is-10 is-offset-1 pl-0">
        <p class="has-text-grey is-size-6 is-italic">
            Last updated {{ now.Format "2 January 2006" }}
        </p>
    </div>
</div>