<div class="columns is-mobile is-multiline p-0 m-0" style="background-color: black">
    <div class="column is-8 is-offset-1 p-0 pt-4 pb-3">
        <h1 class="title p-0 m-0" style="color: #FFFFFF">
            Education Funding UK
        </h1>
        <p class="subtitle is-size-6 p-0 m-0 mt-1" style="color: white">
            Online resources to assist education and training providers.
        </p>
    </div>
    <div class="column has-text-white">
        <a style="color: #FFFFFF; text-decoration: none;" href="/">Home</a> | <a style="color: #FFFFFF; text-decoration: none;" href="/funding-assessment/">Funding Assessment</a> | <a style="color: #FFFFFF; text-decoration: none;" href="/blog/">Blog</a> | <a style="color: #FFFFFF; text-decoration: none;" href="/guidance/">Guidance</a>
    </div>
</div>

<div class="columns is-mobile m-0">
    <div class="column is-10 is-offset-1" style="background-color: #1d70b8; min-height: 10px; max-height: 10px; padding: 0">
                
    </div>
</div>

<div class="columns is-mobile m-0">
    <div class="column is-10 is-offset-1 pl-0">
        <p class="is-size-6">
            <strong style="background-color: #1d70b8; color: #FFFFFF; margin-right: 10px; padding-top: 2px; padding-bottom: 2px;">&nbsp;BETA&nbsp;</strong>
            <span class="is-size-6">This is a new, non-government service - your <a href="/site/contact/">feedback</a> will help improve the site!</span>
        </p>
        <p class="has-text-grey is-size-6 pt-3 is-italic">
            Last updated {{ now.Format "2 January 2006" }}
        </p>
    </div>
</div>