
<nav style="border-bottom: 3px solid #1d70b8" class="navbar is-fixed-top" role="navigation" aria-label="main navigation">
    <div class="navbar-brand">
        
        &nbsp;

        <a role="button" class="navbar-burger" data-target="navMenu" aria-label="menu" aria-expanded="false">
            <span aria-hidden="true"></span>
            <span aria-hidden="true"></span>
            <span aria-hidden="true"></span>
        </a>

    </div>

    <div class="navbar-menu" id="navMenu">
        <div class="navbar-start">
        <a href="/" class="navbar-item">
            Home
        </a>

        <a href="/tags/" class="navbar-item">
            Search by Tags
        </a>

        <a href="/site/about/" class="navbar-item">
            About the Site
        </a>

        </div>
        </div>
    </nav>