<!DOCTYPE html>
<html>

    {{ partial "head.html" . }}

    <body>
        {{ partial "header.html" . }}

        {{ partial  "breadcrumbs.html" . }}
    
            <div style="background-color: #FFFFFF;" class="content columns is-mobile m-0">
                
                <div class="column is-10 is-offset-1">

                    <hr style="background-color: #00703c;">

                    <h1 class="title is-1 pt-0 mt-0">
                        {{ .Title }}
                    </h1>

                    <p class="has-text-black">{{ .Date.Format "Monday, 2 January 2006" }}</p>

                    <hr style="background-color: #00703c;">

                    {{ .Content }}

                </div>
            
            </div>


        {{ partial "footer.html" . }}

        

    </body>
</html>
