<!DOCTYPE html>
<html>

    {{ partial "head.html" . }}

    <body>

        {{ partial "header.html" . }}
        
        <div class="container is-fluid" style="padding-left: 10%; padding-right: 10%">
            
            <div class="content">
                <h1 class="mt-6 is-size-1">Welcome to the site</h1>
                <p>Use the links below to jump to a specific area, or alternatively view and search through all resources by clicking here: <a href="/resource/">show me everything</a></p>
            </div>
        
            <div class="columns">

                <div class="column">
                    <div class="card" style="background-color: #E4E9EB; border-left: 10px solid #F26430">
                        <div class="card-content">
                            <p class="title">
                                <a style="color: inherit" href="/tags/14-16-funding/">14-16 Funding</a>
                            </p>
                            <p class="subtitle">
                                Funding for school-age learners aged 14-16 studying with further education training providers.
                            </p>
                        </div>
                    </div>
                </div>

                <div class="column">
                    <div class="card" style="background-color: #E4E9EB; border-left: 10px solid #F26430">
                        <div class="card-content">
                            <p class="title">
                                <a style="color: inherit" href="/tags//16-19-funding/">16-19 Programme Funding</a>
                            </p>
                            <p class="subtitle">
                                Funding for those aged 16-18 when they begin their studies, or 19-24 with an EHCP.
                            </p>
                        </div>
                    </div>
                </div>

                <div class="column">
                    <div class="card" style="background-color: #E4E9EB; border-left: 10px solid #F26430">
                        <div class="card-content">
                            <p class="title">
                                <a style="color: inherit" href="/tags/adult-education-budget/">Adult Education Budget</a>
                            </p>
                            <p class="subtitle">
                                Qualification-based funding for those aged 19 or older.
                            </p>
                        </div>
                    </div>
                </div>

                

            </div>

            <div class="columns">

                <div class="column">
                    <div class="card" style="background-color: #E4E9EB; border-left: 10px solid #F26430">
                        <div class="card-content">
                            <p class="title">
                                <a style="color: inherit" href="/tags/apprenticeships/">Apprenticeships</a>
                            </p>
                            <p class="subtitle">
                                Work-based learning with off-the-job training and development.
                            </p>
                        </div>
                    </div>
                </div>

                <div class="column">
                    <div class="card" style="background-color: #E4E9EB; border-left: 10px solid #F26430">
                        <div class="card-content">
                            <p class="title">
                                <a style="color: inherit" href="/tags/traineeships/">Traineeships</a>
                            </p>
                            <p class="subtitle">
                                Study programmes with high levels of work experience and preparation, designed to get learners into employment, an apprenticeship, or further study.
                            </p>
                        </div>
                    </div>
                </div>

                <div class="column">
                    <div class="card" style="background-color: #E4E9EB; border-left: 10px solid #F26430">
                        <div class="card-content">
                            <p class="title">
                                <a style="color: inherit" href="/tags/online-services/">Online Services</a>
                            </p>
                            <p class="subtitle">
                                View information or submit data.
                            </p>
                        </div>
                    </div>
                </div>
                
            </div>

            <div class="columns">

                <div class="column">
                    <div class="card" style="background-color: #E4E9EB; border-left: 10px solid #FF6666">
                        <div class="card-content">
                            <p class="title">
                                <a style="color: inherit" href="/tags/">Browse by tags</a>
                            </p>
                            <p class="subtitle">
                                Not sure? Browse a full list of tags.
                            </p>
                        </div>
                    </div>
                </div>

                <div class="column">
                    <div class="card" style="background-color: #E4E9EB; border-left: 10px solid #FF6666">
                        <div class="card-content">
                            <p class="title">
                                <a style="color: inherit" href="/resource/">Browse by resource</a>
                            </p>
                            <p class="subtitle">
                                See every linked resource.
                            </p>
                        </div>
                    </div>
                </div>

            </div>

        </div>
        
        {{ partial "footer.html" . }}

    </body>
</html>
